# OS
.DS_Store
Thumbs.db

# Editor
.vscode/

# Node
node_modules/

# Build
dist/
build/

# Logs
*.log

# Env
.env

# Backup
backup/
old/
old_and_an/

# Temp
tmp/
temp/

# Lager files
*.bak
*.tmp
*.swp
*.swo
*.mp4
*.mp3
medias/
images/
img/
res/


